.character { margin: 3%; width: 225px; display: flex; flex-direction: column; position: relative; }
.charBtm { background: #fff; margin-left: -20px; position: relative; height: 120px; transition: 1s; }
.charBtm::after { content: ''; position: absolute; top: 0; left: 0; width: 0; height: 0; border: 20px solid transparent; border-bottom-color: #acacac; border-top: 0; border-right: 0; margin-top: -20px; overflow: visible; }
.charBtm p { font-size: 0.9em; }
.charBtm > div { display: flex; justify-content: center; align-items: center; }
.charImg { height: 300px; width: 100%; object-fit: cover; overflow: hidden; opacity: 0.8; }
.btm2 { margin-top: -200px; height: 320px; transition: 1s; opacity: 0.9; overflow: hidden; position: relative; }
.beeLogo { width: 30px !important; height: 30px !important; }
.underline { border-bottom: 1px solid #d4d4d4; }
.hiddenInfo { display: flex; flex-direction: column; justify-content: center; }
.hiddenInfo > div { display: flex; justify-content: space-between; width: 95%; border-bottom: 1px solid #e9e9e9; }
.hiddenInfo > div > p:first-of-type { font-weight: bold; }
.hiddenInfo > div:nth-of-type(4) { border-bottom: none; }
.occMap { font-size: 0.8em; margin: 0 0 0 5px; }
.characterTitle { font-size: 16px; font-weight: 700; }
